html {
  height: 100%;
  background-color: rgb(255, 255, 255);
}
body {
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  height: 90%;
}
h1 {
  text-align: center;
}
img {
  display: block;
  margin: auto;
}
#wrapper {
  background-color: rgb(252, 103, 103);
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: white;
}
header {
  background-color: rgb(255, 100, 100);
  padding: 1rem;
}
main {
  background-color: rgb(0, 217, 255);
  padding: 1rem;
  flex: 1;
}
footer {
  background-color: #8b2fb9;
  padding: 1rem;
}
